nselib
yfinance
pandas
numpy
requests
feedparser
tabulate
reportlab
nltk
transformers
schedule
google-generativeai
aiohttp
xlsxwriter
trafilatura
rapidfuzz
beautifulsoup4
ta
jinja2
textblob
nest_asyncio
pytz
